<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1001145730311-tsm1p6a2861ctr2q04k04mq61kp28fjt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1001145730311-tsm1p6a2861ctr2q04k04mq61kp28fjt</string>
	<key>API_KEY</key>
	<string>AIzaSyAK5NVwBlq0UJkXEEJkayHFzaZYCRsHmPg</string>
	<key>GCM_SENDER_ID</key>
	<string>1001145730311</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>myapps.TMDb</string>
	<key>PROJECT_ID</key>
	<string>tmdb-00</string>
	<key>STORAGE_BUCKET</key>
	<string>tmdb-00.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1001145730311:ios:09c50eff93a89993b1f1a2</string>
	<key>DATABASE_URL</key>
	<string>https://tmdb-00.firebaseio.com</string>
</dict>
</plist>